.productCard {
  border: 0.25rem solid rgb(207, 207, 207);
  border-radius: 5rem;
  padding: 2rem;
  text-align: center;
  background-color: var(--gray-100);
}

.productImage {
  width: 100%;
  border-radius: 0.5rem;
}

.productTitle {
  font-size: 2.87rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.productDescription {
  font-size: 1.72rem;
  color: var(--primary-contrast-dark);
}

.productPrice {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}

.productButton {
  background-color: var(--primary);
  color: var(--gray-900);
  border: none;
  padding: 1.22rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.85rem;
}

.productButton:hover {
  background-color: rgb(131, 48, 48);
}