.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 15rem 0;
  gap: 2rem;
}

.productList {
  padding: 1rem 3rem;
  display: grid;
  gap: 3rem; /* 4rem entre linhas, 2rem entre colunas */
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr)); /* cards um pouco maiores */
  grid-template-rows: auto;
}